<?xml version="1.0"?>
<!--
/**
 * This file is part of a FireGento e.V. module.
 *
 * This FireGento e.V. module is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License version 3 as
 * published by the Free Software Foundation.
 *
 * This script is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
 * FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
 *
 * PHP version 5
 *
 * @category  FireGento
 * @package   FireGento_ContentSync
 * @author    FireGento Team <team@firegento.com>
 * @copyright 2013 FireGento Team (http://www.firegento.com)
 * @license   http://opensource.org/licenses/gpl-3.0 GNU General Public License, version 3 (GPLv3)
 */
-->
<config>
    <sections>
        <contentsync translate="label" module="contentsync">
            <label>Content Sync</label>
            <tab>advanced</tab>
            <sort_order>950</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>0</show_in_website>
            <show_in_store>0</show_in_store>
            <groups>
                <storage_file translate="label" module="contentsync">
                    <label>Storage: File</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>100</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <directory translate="label" module="contentsync">
                            <label>Storage Directory</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </directory>
                    </fields>
                </storage_file>

                <storage_git translate="label" module="contentsync">
                    <label>Storage: Git</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>100</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <directory translate="label" module="contentsync">
                            <label>Storage Directory</label>
                            <comment>Commits changes of files on every export</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </directory>
                    </fields>
                </storage_git>

	            <storage_svn translate="label" module="contentsync">
	                 <label>Storage: SVN</label>
	                 <frontend_type>text</frontend_type>
	                 <sort_order>100</sort_order>
	                 <show_in_default>1</show_in_default>
	                 <show_in_website>0</show_in_website>
	                 <show_in_store>0</show_in_store>
	                 <fields>
	                     <directory translate="label" module="contentsync">
	                         <label>Storage Directory</label>
	                         <comment>Commits changes of files on every export</comment>
	                         <frontend_type>text</frontend_type>
	                         <sort_order>10</sort_order>
	                         <show_in_default>1</show_in_default>
	                         <show_in_website>0</show_in_website>
	                         <show_in_store>0</show_in_store>
	                     </directory>
	                 </fields>
	            </storage_svn>

                <content_core_website translate="label" module="contentsync">
                    <label>Content: Website</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>200</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <storage translate="label" module="contentsync">
                            <label>Storage</label>

                            <frontend_type>select</frontend_type>
                            <source_model>contentsync/source_storage</source_model>

                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </storage>
                        <trigger translate="label" module="contentsync">
                            <label>Trigger data storage</label>

                            <frontend_type>select</frontend_type>
                            <source_model>contentsync/source_trigger</source_model>

                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </trigger>
                    </fields>
                </content_core_website>

                <content_core_storegroup translate="label" module="contentsync">
                    <label>Content: Store Group</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>220</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <storage translate="label" module="contentsync">
                            <label>Storage</label>

                            <frontend_type>select</frontend_type>
                            <source_model>contentsync/source_storage</source_model>

                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </storage>
                        <trigger translate="label" module="contentsync">
                            <label>Trigger data storage</label>

                            <frontend_type>select</frontend_type>
                            <source_model>contentsync/source_trigger</source_model>

                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </trigger>
                    </fields>
                </content_core_storegroup>

                <content_core_store translate="label" module="contentsync">
                    <label>Content: Store View</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>240</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <storage translate="label" module="contentsync">
                            <label>Storage</label>

                            <frontend_type>select</frontend_type>
                            <source_model>contentsync/source_storage</source_model>

                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </storage>
                        <trigger translate="label" module="contentsync">
                            <label>Trigger data storage</label>

                            <frontend_type>select</frontend_type>
                            <source_model>contentsync/source_trigger</source_model>

                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </trigger>
                    </fields>
                </content_core_store>

                <content_cms_block translate="label" module="contentsync">
                    <label>Content: CMS Block</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>300</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <storage translate="label" module="contentsync">
                            <label>Storage</label>

                            <frontend_type>select</frontend_type>
                            <source_model>contentsync/source_storage</source_model>

                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </storage>
                        <trigger translate="label" module="contentsync">
                            <label>Trigger data storage</label>

                            <frontend_type>select</frontend_type>
                            <source_model>contentsync/source_trigger</source_model>

                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </trigger>
                    </fields>
                </content_cms_block>

                <content_cms_page translate="label" module="contentsync">
                    <label>Content: CMS Page</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>400</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <storage translate="label" module="contentsync">
                            <label>Storage</label>

                            <frontend_type>select</frontend_type>
                            <source_model>contentsync/source_storage</source_model>

                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </storage>
                        <trigger translate="label" module="contentsync">
                            <label>Trigger data storage</label>

                            <frontend_type>select</frontend_type>
                            <source_model>contentsync/source_trigger</source_model>

                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </trigger>
                    </fields>
                </content_cms_page>

                <content_email_template translate="label" module="contentsync">
                    <label>Content: Email Template</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>500</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <storage translate="label" module="contentsync">
                            <label>Storage</label>

                            <frontend_type>select</frontend_type>
                            <source_model>contentsync/source_storage</source_model>

                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </storage>
                        <trigger translate="label" module="contentsync">
                            <label>Trigger data storage</label>

                            <frontend_type>select</frontend_type>
                            <source_model>contentsync/source_trigger</source_model>

                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </trigger>
                    </fields>
                </content_email_template>

            </groups>
        </contentsync>
    </sections>
</config>
